<!DOCTYPE html>
<html>
    <head>
        <title>Add Employee</title>
    </head>
    <body>
        <head>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <center>
                <form action="" method="POST">
                    <fieldset style="width:250px">
                        <legend>Add Employee</legend>
                        <table>
                            <tr>
                                <td>Name: </td>
                                <td><input type="text" name="empName" value=""></td>
                            </tr>
                            <tr>
                                <td>Phone No.: </td>
                                <td><input type="text" name="empPhone" value=""></td>
                            </tr>
                            <tr>
                                <td>Address: </td>
                                <td><input type="text" name="empAddress" value=""></td>
                            </tr>
                            <tr>
                                <td>Gender: </td>
                                <td><input type="radio" name="male" value="Male"> Male
                                    <br><input type="radio" name="female" value="Female"> Female
                                </td>
                            </tr>
                            <tr>
                                <td>Address: </td>
                                <td><input type="text" name="empAddress" value=""></td>
                            </tr>
                            <tr>
                                <td colspan="2"><center><input type="submit" name="add" value="Add"> <input type="submit" name="cancel" value="Cancel"></center></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </center>
        </head>
    </body>
</html>