<!DOCTYPE html>
<html>
<head>
	<title>All Employee List</title>
	<link rel="stylesheet" type="text/css" href="abc/style.css">
</head>
<body>
	
	<a href="/admin">Back</a> | 
	<a href="/logout">Logout</a>
	
	<center>
		<h3>All Employee List</h3>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>USERNAME</th>
				<th>PHONE</th>		
				<th>GENDER</th>
				<th>DESIGNATION</th>
				<th>ACTION</th>
			</tr>
			<tr>
				<th>01</th>
				<th>Aelin G.</th>
				<th>123456789</th>		
				<th>Female</th>
				<th>Admin</th>
				<th><a href="/admin/update">UPDATE</a>| <a href="/admin/delete">DELETE</a></th>
			</tr>
			<tr>
				<th>01</th>
				<th>Aelin G.</th>
				<th>123456789</th>		
				<th>Female</th>
				<th>Admin</th>
				<th><a href="/admin/update">UPDATE</a>| <a href="/admin/delete">DELETE</a></th>
			</tr>
		</table>
	</center>
</body>
</html>